.mycard {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    width: 90vw;
    background-color: #ffffff; // linear-gradient(#fed6e3 0%, #ffaaaa 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    margin: 20px;
}

.flex-column{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.flex-column-left{
    display: flex;
    flex-direction:column;
    align-items: left;
}

.flex-row-center{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.flex-row-left{
    display: flex;
    flex-direction:row;
    justify-content: left;
}

#index{
    background-color: lightblue;
}