$ballCount: 20;

content {
  background: #000;
  height: 100vh;
  width: 1200px;
  overflow: hidden;
}

#ui {
  .rotate {
    position: relative;
    // top: 50%;
    // left: 50%;
    width: 1000px;
    height: 1000px;
    background: #000;
    // transform: translate(-55%, -54%);
    filter: blur(10px) contrast(30);
    
    &_ball {
      position: absolute;
      top: 50%;
      left: 50%;
    }
    @for $i from 1 through $ballCount {
      &_ball:nth-child(#{$i}) {
        .inner {
          $size: #{random(100) + 20};
          width: #{$size}px;
          height: #{$size}px;
          border: 15px solid rgba(#fff, 1);
          border-radius: 100%;
          animation: translate #{random(3000) + 1000}ms infinite alternate cubic-bezier(0.545, 0.080, 0.520, 0.975);
        }
        animation: rotate #{random(4000) + 3000}ms infinite alternate cubic-bezier(0.330, 1.700, 0.510, 0.820);
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes translate {
  0% {
    transform: translate(-150%, -150%);
  }
  100% {
    transform: translate(150%, 150%);
  }
}